.tr-box {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 1rem;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tr-word {
    .tr-char{
        display: inline-block;
    }
}
